@charset "utf-8";

/* common */
.container {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}

/* header */
header {
    width: 100%;
    height: 160px;
}

#header_top {
    width: 100%;
    height: 40px;
    background-color: #f4f4f6;
}

#header_top .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#login {
    font-size: 10.5px;
}

#login ul {
    display: flex; 
    gap: 5px;  
    list-style: none; 
    margin: 0;
    padding: 0;
}

#header_main {
    display: flex;
    align-items: center;
    padding: 0 20px;   
}

#header_main {
    width: 1140px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#header_main .logo img {
    height: 40px; 
}

.header_inner {
    display: flex;
    align-items: center;
    gap: 10px;
}

.site_select {
    width: 85px;      
    height: 35px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 3px;
    border: 1px solid #dddddd;       
    border-radius: 8px;
    cursor: pointer;
}

nav {
    width: 100%;
    height: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

nav .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul {
    width: 700px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}



/* footer */
footer { 
    width: 100%;
    height: 180px;
    border-top: 1px solid #ddd;
}

.footer_top ul {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
    font-size: 12px;
    color: #888;
}

.footer_middle p {
    font-size: 13px;
    color: #888;
    font-weight: bold;
}

.footer_middle ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footer_middle>ul {
    font-size: 12px;
    color: #888;
}